/* Reset and base styles */
*,
*::before,
*::after {
box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color:inherit ;
}
button{
background-color: transparent;
border: none;
color: inherit;
}

html {
height: 100%; /* sticky footer */
}

body {
height: 100%; /* sticky footer */
display: flex; /* sticky footer */
flex-direction: column; /* sticky footer */
margin: 0;
font-family: 'Montserrat', sans-serif;
color: $text-color;
}

body > * {
flex-shrink: 0; /* sticky footer */
}

input, textarea, button {
font-family: inherit;
padding: 0;
}

label {
cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

img {
object-fit: cover;
display: block;
max-width: 100%;
height: 100%;
}

ul {
margin: 0;
padding: 0;
list-style-type: none;
}

fieldset {
border: none;
margin: 0;
padding: 0;
}

legend {
display: block;
margin: 0;
padding: 0;
border: none;
}

/* Grid styles */

.container {
max-width: 1245px;
width: 100%;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}

/* Utility */

.hidden {
display: none !important;
}

/* Sticky Footer */

.footer {
margin-top: auto; /* sticky footer */
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-radius: 20px;       
    box-shadow: inset 0 0 5px  #0db9c25e ;
-webkit-text-fill-color: $text-color;
// -webkit-box-shadow: 0 0 0px 1000px  $background inset;
transition: background-color 5000s ease-in-out 0s;
}
