.context-btn{
    padding-left: 10px;
    padding-right: 10px;
    min-width: 170px;
    height: 46px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    border: 2px solid transparent  ;
    border-radius: 10px;
    transition: border-color , background-color 0.5s   ;
    cursor: pointer;

    @media (max-width:899px){
        min-width: 120px;
        font-family: 'Inconsolata';
        font-weight: 500;
        font-size: 24px;
        height: 32px;
        line-height: 32px;
        border-radius:5px ;
    }
    
    }



