.my-skills {
    @media (max-width:1244px) {
        // padding-bottom: px;
    }
}


.skills-card {
    width: 200px;
    min-height: 300px;
    position: relative;

    

    &:hover {
        // Icon
        .skills-card__item--html {
            fill: #FC490B;
        }

        // Button
        .context-btn--html {
            background-color: #FC490B;
        }

        .skills-card__item--css{
            fill: #2196F4;
        }

        .context-btn--css{
            background-color: #2196F4;
        }

        .skills-card__item--js{
            fill: #ceb306;
        }

        .context-btn--js{
            background-color: #ceb306;
        }

        .skills-card__item--scss{
            fill: #CA669B;
        }

        .context-btn--scss{
            background-color: #CA669B;
        }

        .skills-card__item--git{
            fill: #F25234;
        }

        .context-btn--git{
            background-color: #F25234;
        }

        .skills-card__item {
            transition: fill 0.5s;
        }
    }
    
    .skills-card__front,
    .skills-card__back {
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform 1s;
    }

    .skills-card__front {
        transform: perspective(600px) rotateY(0deg);
        background-color: $color-card;
        padding-top: 61px;
        padding-bottom: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-card__back {
        position: absolute;
        color: rgb(255, 255, 255);
        background-color: rgb(34, 85, 179);
        transform: perspective(600px) rotateY(180deg);
        border-radius: 10px;
    }

    .skills-card__cross {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;

    }

    &.active {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(0deg) !important;
        min-width: 500px;
        min-height: 400px;
        z-index: 4;

        .skills-card__front {
            transform: perspective(600px) rotateY(-180deg);
        }

        .skills-card__back {
            transform: perspective(600px) rotateY(0deg);
        }
    }

    .skills-card__front {
        @media (max-width:899px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 13px 41px 13px 32px;
        }
    }

    @media (max-width:899px) {
        width: 285px;
        min-height: 60px;
    }


}

.skills-card__item {
    transition: fill 0.5s;
    fill: #F0E3CA;
    max-width: 114px;
    max-height: 128px;

}
.skills-card__item:nth-child(3){
    max-width: 128px !important ;
}

.skills-card__icon {
    margin-bottom: 16px;
    @media (max-width:899px) {
        margin-bottom: 0;
        width: 28px;
        height: 32px;
        margin-right: 40px;

        svg {
            width: 28px;
            height: 32px;
        }
    }

}

