.social-links-list__item:not(:last-child) {
    margin-bottom: 32px;
}

.social-link::before {

    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-size: cover;
    vertical-align: middle;
}

.social-links-list__item:first-child .social-link:before {
    background-image: url("..//../image/footer/mail.svg");
}

.social-links-list__item:nth-child(2) .social-link:before {
    background-image: url("..//../image/footer/vk.svg");
}

.social-link {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04;
    color: $title-color;
    transition: 0.5s;
    

    &:visited {
        color: $title-color;
        cursor: pointer;
    }

    &:hover {
        color: #075c61;
        transition: 0.5s;
        cursor: pointer;
    }
}