.social-links-list{
    width: 384px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px ;
    row-gap:32px ;

    @media (max-width:899px){
        width:100%;
        flex-direction: column;


        .social-link:nth-child(2) , .social-link:nth-child(4){
            order: 1;
        }
    }
}



.social-links-list a:hover{
    color: #075c61;
    transition: 0.5s;
    cursor: pointer;
}


.social-link::before {

    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-size: cover;
    vertical-align: middle;
}

.social-link:first-child:before{
    background-image: url("..//../image/footer/mail.svg");
}
.social-link:nth-child(2):before{
    background-image: url("..//../image/footer/github.svg");
}
.social-link:nth-child(3):before{
    background-image: url("..//../image/footer/vk.svg");
}
.social-link:last-child:before{
    background-image: url("..//../image/footer/figma.svg");
}

.social-link{
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04;
    color: $title-color;
    transition: 0.5s;

    &:nth-child(3){
        min-width: 204px ;
    }
}


