.main-title{
    color: $title-color;
    font-family: 'Inconsolata';
    font-weight: 900;
    font-size: 64px;
    line-height: 1;
    @media (max-width:899px){
        font-family: 'Inconsolata';
    font-weight: 900;
    font-size: 40px;
    line-height: 1.05;
    }
}

.main-subtitle{
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    @media (max-width:899px){
        font-family: 'Inconsolata';
        font-weight: 700;
        font-size: 32px;
        line-height:1.06;
    }
    
}

.wrapper-section-title {
    margin-bottom: 32px;
    text-align: center;
}

.context-title {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.06;
    color: $title-color;
    
}

.footer .context-title{
    @media (max-width:1244px){
        text-align: center;
        font-family: 'Roboto Mono', 'monospace';
        font-weight: 700;
        font-size: 32px;
        line-height: 1.21;
    }

}

.wrapper-card-title {
    margin-bottom: 16px;
    text-align: center;
}

.wrapper-footer-title {
    margin-bottom: 16px;
}
