.footer {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__content {
    display: flex;
    column-gap: 64px;
    justify-content: center;
    @media (max-width:1244px){
        flex-direction: column;
        align-items: center;
        row-gap:64px ;
    }
}
.footer__copyright {
    width: 213px;
    @media (max-width:1244px){
        width: 340px;
    }
    
}
.footer .wrapper-logo {
    margin-bottom: 16px;

    svg{
        width: 160px;
        height: 44px;
    }

    @media (max-width:1244px){
        text-align: center;
    }
    
}

.footer__text {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.05;

}
.footer__contacts {
}

