.my-skills {
    padding-top:64px;
    padding-bottom:64px;

    @media (max-width:899px){
        padding-top: 61px;
        padding-bottom: 78px;
    }
    
}

.my-skills__content {
}

.my-skills__cards {
    display: flex;
    column-gap: 16px;
    width:1064px;
    margin: 0 auto;

    @media (max-width:1244px){
        max-width: 632px ;
        flex-wrap: wrap;
        row-gap:16px ;
        justify-content: center;
        }

    @media (max-width:899px){
        display: flex;
        flex-direction: column;
        width: 285px;
    }
    
}